---
import Layout from '../layouts/Layout.astro';

import About from '../components/sections/About.astro';
import Education from '../components/sections/Education.astro';
import Experience from '../components/sections/Experience.astro';
import Hero from '../components/sections/Hero.astro';
import Projects from '../components/sections/Projects.astro';
import Skills from '../components/sections/Skills.astro';
import KeybordManager from '../components/KeybordManager.astro';
---


<Layout title="JesusGomezDev Web Resume.">
	<main class="text-white p-16 mx-auto w-full">
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>

	<KeybordManager />
</Layout>